/*--Display--*/
.display {
  height: 90vh;
  max-height: calc(100vh - 75px);
  width: 100%;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera {
  height: 300px;
  width: 600px;
  overflow: hidden;
}
