/*--Waitingroom--*/
.waiting{
    background-color: #000a;
    position: fixed;
    height: 90vh;
    max-height: calc(100vh - 60px);
    width: 100%;
    z-index: 98;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.waiting_titlebox{
    width: 150px;
    margin: 3vh 3vw;
}

.waiting_title{
    color: white;
    width: fit-content;
    font-size: 2rem;
}

.waiting_refusetext{
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.waiting_cause{
    color: #cd3232;
    text-align: center;
}

/*--Controll--*/
.controll{
    background-color: #161616;
    width: 100%;
    height: 90vh;
    max-height: calc(100vh - 60px);
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.controll_servicebox{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

@media (orientation: landscape){
    .controll_servicebox{
        flex-direction: row;
    }
}
    /*--Informationtext--*/
.controll_informationbox{
    background-color: #444;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controll_informationcontent{
    margin: 0 5vw;
}

.controll_informationtext{
    color: white;
    font-size: min(1rem, max(3vw, 13px));
    font-family: robotoMono;
}
    /*--Controller--*/
.controll_controllerbox{
    aspect-ratio: 1 / 1;
    width: min(60vw, 50vh);
    margin: 25px;
    background-color: #323232;
    border-radius: 40%;
}

.controll_controllerbutton{
    position: relative;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controll_controllerbutton:nth-child(1){
    width: 40%;
    height: 40%;
    margin-left: calc(50% - 40% / 2);
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

.controll_controllerbutton:nth-child(2){
    width: 40%;
    height: 40%;
    margin-top: calc(50% - 40% - 40% / 2);
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.controll_controllerbutton:nth-child(3){
    top: calc(min(50vw, 40vh) / -2);
    margin-left: calc(100% - 40%);
    width: 40%;
    height: 40%;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.controll_controllerbutton:nth-child(4){
    width: 40%;
    height: 40%;
    margin-top: -50%;
    margin-left: calc(50% - 40% / 2);
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.controll_controllerarrow{
    height: 50%;
    width: 50%;
    margin-left: 10%;
    background-image: url(../images/arrow.webp);
    background-size: contain;
}
    /*--Speed--*/
.controll_speedbox{
    margin: 3%;
    background-color: transparent;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controll_speedslider{
    aspect-ratio: 1.5 / 1;
    height: min(30vw, 30vh);
    -webkit-appearance: none;
    appearance: none;
    transform: rotate(-90deg);
    background-image: url(../images/remotecontrollspeed.webp);
    background-size: contain;
    border-radius: 15%;
}

.controll_speedslider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;

}

.controll_speedslider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../images/remotecontrollspeedhandle.webp);
    background-size: contain;
    border-radius: 25%;
    aspect-ratio: 1 / 3;
    height: min(30vw, 30vh);
}

@media (orientation: landscape){
    .controll_speedbox{
        flex-direction: row;
    }
}

@media screen and (max-height: 850px) and (orientation: portrait){
    .controll_speedslider{
        height: min(13vh, 13vh);
    }

    .controll_speedslider::-webkit-slider-thumb{
        height: min(13vh, 13vh);
    }
}

@media screen and (min-height: 850px) and (orientation: portrait){
    .controll_speedslider{
        height: min(17vh, 17vh);
    }

    .controll_speedslider::-webkit-slider-thumb{
        height: min(17vh, 17vh);
    }
}

@media screen and (orientation: landscape){
    .controll_speedslider{
        height: min(25vw, 25vh);
    }

    .controll_speedslider::-webkit-slider-thumb{
        height: min(25vw, 25vh);
    }
}