/*--Waitingroom--*/
.waiting {
  background-color: #000a;
  position: fixed;
  height: calc(100vh - 75px);
  width: 100%;
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.waiting_titlebox {
  width: 150px;
  margin: 3vh 3vw;
}

.waiting_title {
  color: white;
  width: fit-content;
  font-size: 2rem;
}

.waiting_refusetext {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.waiting_cause {
  color: #cd3232;
  text-align: center;
}

/*--Controll--*/
.controll {
  background-color: #161616;
  width: 100%;
  margin-top: 75px;
  height: calc(100% - 75px);
  position: fixed;
}

.controll_servicebox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 125px);
}

/*--Informationtext--*/
.controll_informationbox {
  background-color: #444;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controll_informationcontent {
  margin: 0 5vw;
}

.controll_informationtext {
  color: white;
  font-size: min(1rem, max(3vw, 13px));
  font-family: robotoMono;
}
/*--Controller--*/
.controll_controllerbox {
  aspect-ratio: 1 / 1;
  width: min(80vw, 70vh);
  background-color: #323232;
  border-radius: 40%;
}

.controll_controllerbutton {
  position: relative;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
}

.controll_controllerbutton:nth-child(1) {
  margin-left: calc(50% - 40% / 2);
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}

.controll_controllerbutton:nth-child(2) {
  margin-top: calc(50% - 40% - 40% / 2);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.controll_controllerbutton:nth-child(3) {
  top: calc(min(80vw, 70vh) / -2.5);
  margin-left: calc(100% - 40%);
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.controll_controllerbutton:nth-child(4) {
  margin-top: -50%;
  margin-left: calc(50% - 40% / 2);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.controll_controllerarrow {
  height: 50%;
  width: 50%;
  margin-left: 10%;
  background-image: url(/images/arrow.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-aspect-ratio: 7 / 10) and (max-height: 750px) {
  .controll_controllerbox {
    width: 55vh;
  }

  .controll_controllerbutton:nth-child(3) {
    top: calc(55vh / -2.5);
  }

  .controll_settings {
    height: 50px;
  }

  .controll_informationbox {
    height: 25px;
  }

  .controll_servicebox {
    height: calc(100% - 75px);
  }
}

.controll_settings {
  position: relative;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #323232;
}
