/*--Display--*/
.display {
  height: calc(100vh - 75px - 50px);
  margin-top: 75px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #161616;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

/*--Settings--*/
.display_settings {
  margin-left: calc(min(10vw, 100px) - 45px + 6vw);
  margin-right: calc(min(10vw, 100px) - 45px + 1vw);
  width: 75px;
  height: 75%;
}

.display_settingsList {
  width: 100%;
  height: 100%;
  background-color: #444;
  border-radius: 50px;
  box-shadow: 0 0 50px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.display_settingsItem {
  background-color: white;
  list-style-type: none;
  margin: 0.5vh;
  padding: 0.75vh;
  max-height: 50px;
  height: 5vw;
  max-width: 50px;
  width: 5vw;
  cursor: pointer;
  border-radius: 50%;
}

.display_settingsItem:last-child {
  background-color: #cd3232;
}

.display_settingsImage {
  max-height: 100%;
  max-width: 100%;
}

/*--Speedometer--*/
.display_speedometer {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#display_SpeedCanvas {
  background-color: #323232;
  border-radius: 45% 45% 10% 10%;
  box-shadow: 0 0 50px black;
}

@media (orientation: landscape) {
  #display_SpeedCanvas {
    height: 100%;
  }
}

@media (orientation: portrait) {
  #display_SpeedCanvas {
    width: 100%;
  }
}

/*--EnergyBar--*/
.display_batteryContainer {
  background-color: #444;
  margin-right: 5vw;
  padding: 1vw;
  width: min(20vw, 200px);
  height: min(25vw, 250px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  flex-direction: column;
  box-shadow: 0 0 50px black;
}

.display_batteryText {
  color: white;
  max-height: 50px;
  height: 5vw;
  margin-bottom: 0px;
  margin-top: 7.5%;
  font-weight: bold;
  font-size: 3vw;
  text-shadow: 3px 3px 15px #161616;
}

.display_batteryBar {
  max-width: 200px;
  width: 20vw;
  max-height: 200px;
  height: 20vw;
  background-color: lightblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 15px #161616;
}

.display_innerCircle {
  content: "";
  background-color: #444;
  height: 92%;
  width: 92%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 3px 3px 15px #161616;
}

.display_batteryIndex {
  color: white;
  font-weight: bold;
  font-size: 4.5vw;
  text-shadow: 3px 3px 15px #161616;
}

@media screen and (min-width: 1000px) {
  .display_batteryText {
    font-size: 2rem;
  }

  .display_batteryIndex {
    font-size: 2.75rem;
  }
}

/*--Footer--*/
.footer {
  background-color: #555;
  border-radius: 100px 100px 0 0;
  height: min(50px, max(100px, 8vh));
  position: fixed;
  bottom: 0px;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  z-index: 90;
}

.footer_list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10px;
}

.footer_item {
  color: white;
  font-family: robotoMono;
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .footer {
    width: 98vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .footer_item {
    font-size: 2vw;
  }
}

/*--ConfirmBox--*/
.confirmbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 100;
}

.confirmbox_content {
  padding: 10px 20px;
  background-color: #333;
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid #161616;
  box-shadow: 3px 3px 15px #161616;
}

.confirmbox_message {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.confirmbox_input {
  display: flex;
  justify-content: space-evenly;
}

.confirmbox_button {
  width: 40%;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}

.confirmbox_button:first-child {
  background-color: #259925;
}

.confirmbox_button:last-child {
  background-color: #992525;
}

/*--RemoteControllBox--*/
.remotecontrollbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 90;
}

.remotecontrollbox_content {
  padding: 10px 20px;
  background-color: #333;
  position: absolute;
  width: 75vw;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 3px 3px 15px #161616;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.remotecontrollbox_message {
  color: white;
  font-weight: bold;
  text-align: center;
}

.remotecontrollbox_input {
  display: flex;
  justify-content: space-evenly;
}

.remotecontrollbox_button {
  width: 75%;
  height: 100%;
  padding: 10px;
  color: white;
  background-color: #992525;
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}
