body {
  overflow: hidden;
}

/*--Display--*/
.display {
  top: 75px;
  bottom: 0px;
  width: 100%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
}

.display_map {
  background-image: linear-gradient(to bottom right, #2f81df, #2a5cb9);
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.display_locationNeedle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 20px 7.5px;
  border-color: transparent transparent #cd3232 transparent;
  transform: rotateZ(0deg);
}

.display_mapLizenz {
  position: absolute;
  bottom: 10px;
  color: #161616aa;
  text-shadow: 0px 0px 10px #fff;
  font-family: robotoMono;
  font-size: min(1rem, 3vw);
  pointer-events: none;
}

.display_mapBox {
  height: calc(100% - 15px);
  width: calc(100% - 15px);
}

.display_canvas {
  height: 100%;
  width: 100%;
  background-color: #161616;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 6px 2px #a00;
  }
}

@media (pointer: fine) {
  .display_destination:hover {
    background-color: #2a5cb9;
    padding: 10px 7.5%;
    border-radius: 50px;
  }

  .display_destinationText:hover {
    font-weight: bolder;
    color: white;
  }
}

/*--Waitingroom--*/
.waiting {
  background-color: #161616;
  position: absolute;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  transform: translateY(calc(-100% - 4px));
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waiting_titlebox {
  width: 100%;
  margin: 3vh 3vw;
}

.waiting_title {
  color: white;
  width: 100%;
  height: 100%;
  font-size: min(2rem, 9vw);
  font-weight: bold;
  font-family: robotoMono;
  text-align: center;
}

.display_errorMessage {
  position: absolute;
  display: none;
  width: calc(80% - 15px);
  border-radius: 15px;
  top: 15px;
  padding: 5px 5vw;
  background-color: #16161699;
  text-align: center;
  font-size: min(4vw, 1rem);
  font-weight: bold;
  line-height: calc(min(4vw, 1rem) + 5px);
  text-shadow: 0 0 5px #161616;
  color: #c33;
  pointer-events: none;
}

.display_setInfo {
  position: absolute;
  display: none;
  width: calc(25% - 15px);
  min-width: fit-content;
  border-radius: 15px;
  top: 15px;
  padding: 5px 5vw;
  background-color: #16161699;
  text-align: center;
  font-size: min(4vw, 1rem);
  font-weight: bold;
  line-height: calc(min(4vw, 1rem) + 5px);
  text-shadow: 0 0 5px #161616;
  color: #cc752d;
  pointer-events: none;
}

.display_settings {
  background-color: #555;
  width: 90%;
  padding: 0 5%;
  max-height: 150px;
}

.display_settingsList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.display_destination {
  display: none;
  background-color: #2f81df;
  padding: 10px 20px;
  margin: 5px 0;
  min-width: 33.3vw;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.display_destination:hover {
  padding: 10px 20px;
}

.display_destinationText {
  font-weight: bold;
  color: white;
  text-align: center;
}

@media (max-width: 500px) {
  .display_settingsList {
    flex-direction: column;
  }

  .display_settings {
    height: fit-content;
  }

  .display_destination {
    padding: 10px 20px;
    min-width: 66.6vw;
  }
}
