@font-face {
    font-family: comfortaa;
    src: url(../fonts/comfortaa.ttf) format("ttf");
}

@font-face {
    font-family: robotoMono;
    src: url(../fonts/robotoMono.ttf);
}

*{
    font-family: comfortaa;
    user-select: none;
}

body{
    margin: 0;
    padding: 0;
}

/*--Navbar--*/
.navbar{
    background-color: white;
    min-height: 75px;
    height: 10vh;
    max-height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.navbar_image{
    height: 100%;
    overflow: hidden;
}

.navbar_image img{
    margin: 5%;
    max-height: 90%;
    max-width: 90%;
}

.navbar_list{
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
}

.navbar_item{
    height: 100%;
    list-style-type: none;
    margin-right: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_link{
    height: 100%;
    padding: 0 10px;
    line-height: calc(min(max(10vh, 75px), 100px));
    text-align: center;
    color: #161616;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.75rem;
}

@media screen and (max-width: 800px){
    .navbar_item:last-child{
        margin-right: 1vw;
    }

    .navbar_link{
        font-size: 2.9vw;
    }
}

/*--Display--*/
.display{
    background-color: #161616;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--Settings--*/
.display_settings{
    margin-left: 3vw;
    margin-right: 5vw;
    width: 7.5vw;
    height: 50vh;
}

.display_settingsList{
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    background-color: #444;
    border-radius: 10%;
    box-shadow: 0 0 50px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display_settingsItem{
    background-color: white;
    list-style-type: none;
    margin: 0.5vh;
    padding: 0.75vh;
    max-height: 50px;
    height: 5vw;
    max-width: 50px;
    width: 5vw;
    cursor: pointer;
    border-radius: 50%;
}

.display_settingsItem:last-child{
    background-color: #cd3232;
}

.display_settingsImage{
    max-height: 100%;
    max-width: 100%;
}

/*--Speedometer--*/
.display_speedometer{
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#display_SpeedCanvas{
    background-color: #323232;
    border-radius: 45% 45% 10% 10%;
    box-shadow: 0 0 50px black;
}

@media (orientation: landscape){
    #display_SpeedCanvas{
        height: 100%;
    }
}

@media (orientation: portrait){
    #display_SpeedCanvas{
        width: 100%;
    }
}

/*--EnergyBar--*/
.display_batteryContainer{
    background-color: #444;
    margin-left: 5vw;
    margin-right: 3vw;
    max-width: 200px;
    width: 20vw;
    max-height: 250px;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    padding: 1vw;
    flex-direction: column;
    box-shadow: 0 0 50px black;
}

.display_batteryText{
    color: white;
    max-height: 50px;
    height: 5vw;
    margin-bottom: 0px;
    margin-top: 7.5%;
    font-weight: bold;
    font-size: 3vw;
    text-shadow: 3px 3px 15px #161616;
}

.display_batteryBar{
    max-width: 200px;
    width: 20vw;
    max-height: 200px;
    height: 20vw;
    background-color: lightblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 15px #161616;
}

.display_innerCircle{
    content: "";
    background-color: #444;
    height: 92%;
    width: 92%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 3px 15px #161616;
}

.display_batteryIndex{
    color: white;
    font-weight: bold;
    font-size: 4.5vw;
    text-shadow: 3px 3px 15px #161616;
}

@media screen and (min-width: 1000px){
    .display_batteryText{
        font-size: 2rem;
    }

    .display_batteryIndex{
        font-size: 2.75rem;
    }
}

/*--Footer--*/
.footer{
    background-color: #555;
    border-radius: 45% 45% 0% 0%;
    min-height: 50px;
    height: 8vh;
    max-height: 100px;
    position: fixed;
    bottom: 0px;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    z-index: 90;
}

.footer_list{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
}

.footer_item{
    color: white;
    font-family: robotoMono;
    list-style-type: none;
}

.footer_item:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 900px){
    .footer{
        width: 98vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .footer_list{
        padding-left: 1%;
        padding-right: 1%;
    }
    .footer_item{
        font-size: 2vw;
    }
}

/*--ConfirmBox--*/
.confirmbox {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 100;
}

.confirmbox_content{
    padding: 10px 20px;
    background-color: #333;
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #161616;
    box-shadow: 3px 3px 15px #161616;
}

.confirmbox_message{
    color: white;
    font-weight: bold;
}

.confirmbox_input{
    display: flex;
    justify-content: space-evenly;
}

.confirmbox_button{
    width: 40%;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
}

.confirmbox_button:first-child{
    background-color: #259925;
}

.confirmbox_button:last-child{
    background-color: #992525;
}

/*--RemoteControllBox--*/
.remotecontrollbox {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 100;
}

.remotecontrollbox_content{
    padding: 10px 20px;
    background-color: #333;
    position: absolute;
    width: 75vw;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #161616;
    box-shadow: 3px 3px 15px #161616;
}

.remotecontrollbox_message{
    color: white;
    font-weight: bold;
}

.remotecontrollbox_input{
    display: flex;
    justify-content: space-evenly;
}

.remotecontrollbox_button{
    width: 75%;
    height: 100%;
    padding: 10px;
    color: white;
    background-color: #992525;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
}